@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

#backgroundContainer {
	background-image: url(img/background.jpeg);
	background-size: cover;
	height: 300px;
}

.carousel img {
	height: 400px;
	opacity: 75%;
}

.carousel-caption {
	background-color: rgb(0, 0, 0, 0.75);
	opacity: 75%;
	color: white !important;
}

.navbar {
	background-color: #717674;
}

.navbar-brand {
	padding-left: 10px;
}

.nav-link {
	color: #e5e8e7;
}

.background {
	position: relative;
}

.background p {
	font-size: 48px;
	position: absolute;
	bottom: 0;
	left: 20%;
	color: #e5e8e7;
}

.portrait {
	border-radius: 50%;
	margin: auto;
}

span {
	font-weight: bold;
}

h2 {
	font-size: 48px;
	font-family: 'Bebas Neue', cursive;
	color: #717674;
}
h3 {
	text-align: center;
}
.myName {
	font-family: 'Bebas Neue', cursive;
}
p {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 20px;
}

li {
	flex-basis: 30%;
	padding-top: 20px;
}

.tools h5 {
	margin-left: 29%;
}

.btn-primary:disabled {
	background-color: #717674;
}

.btn-primary {
	background-color: black;
}

footer {
	margin-top: 20px;
}

footer a {
	color: #717674;
}

/* monitors */
@media (min-width: 1024px) {
	li {
		flex-basis: 0%;
		padding-right: 15px;
	}

	.background p {
		position: absolute;
		bottom: 0;
		left: 55%;
		font-size: 64px;
	}

	.tools h5 {
		text-align:center;
		margin-right: 30%;
	}

	#experienceList {
		padding-left:18%;
	}

	#contact {
		display: flex;
		flex-wrap: wrap;
	}

	#contactForm {
		flex: 3;
	}

	.social {
		flex: 1;
	}

	#contact ul {
		display: block;
		text-align: right;
	}

	#contact li {
		padding-bottom: 60px;
	}

	.contactText {
		display: flex;
	}

	.contactText p {
		margin-right: 0px;
		font-size: 24px;
		font-family: 'Bebas Neue', cursive;
	}

	.contactText p:nth-child(1) {
		flex: 3;
		margin-right: 40px;
	}
}
