.carousel img {
	height: 400px;
	opacity: 75%;
}

.carousel-caption {
	background-color: rgb(0, 0, 0, 0.75);
	opacity: 75%;
	color: white !important;
}

.navbar {
	background-color: #463C2C;
	
}

.nav-item {
color: #FDF6E6 ;
}

.portrait {
	border-radius: 50%;
}

p {
	font-size: 18px;
}